<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>
        
    <link rel="icon" type="image/x-icon" href="{{asset('favicon.ico')}}">
    <link rel="stylesheet" href="{{asset('/assets/css/bootstrap.min.css')}}" />
    <script src="{{asset('/assets/js/bootstrap.bundle.min.js')}}" defer /></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{asset('assets/img/logos/icon-32x32.png')}}" alt="Logo" width="32" height="32" class="d-inline-block align-text-top" />
                Back Office Eco-Friendly
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class >
                    <a class="nav-link active" aria-current="page" href="{{ path('app_backoffice_users_list') }}">Membres</a>
                    <a class="nav-link" href="{{ path('app_backoffice_users_list') }}">Auteurs</a>
                    <a class="nav-link" href="{{ path('app_backoffice_articles_list') }}">Articles</a>
                    <a class="nav-link" href="{{ path('app_backoffice_advices_list') }}">Conseils</a>
                </div>
            </div>
        </div>
    </nav>
        
    {% block body %}{% endblock %}
        
    </body>
</html>