{% extends 'base.html.twig' %}

{% block title %}Les conseils{% endblock %}

{% block body %}
    <h1>Les conseils</h1>
    <a href="{{ path('app_backoffice_advices_new') }}">Ajouter un conseil</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Slug</th>
                <th>Statut</th>
                <th>Créé le</th>
                <th>Modifié le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advice in advices %}
            <tr>
                <td>{{ advice.id }}</td>
                <td>{{ advice.title }}</td>
                <td>{{ advice.Content }}</td>
                <td>{{ advice.Slug }}</td>
                <td>{{ advice.status }}</td>
                <td>{{ advice.createdAt ? advice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ advice.updatedAt ? advice.updatedAt|date('Y-m-d H:i:s') : '' }}</td>

                <td>
                    <a class="btn btn-success" href="{{ path('app_backoffice_advices_show', {'id': advice.id}) }}"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-warning" href="{{ path('app_backoffice_advices_edit', {'id': advice.id}) }}"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_advices_new') }}">Créer un conseil</a>
{% endblock %}
