{% extends 'base.html.twig' %}

{% block title %}Advice index{% endblock %}

{% block body %}
    <h1>Advice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Slug</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advice in advices %}
            <tr>
                <td>{{ advice.id }}</td>
                <td>{{ advice.title }}</td>
                <td>{{ advice.Content }}</td>
                <td>{{ advice.Slug }}</td>
                <td>{{ advice.status }}</td>
                <td>{{ advice.createdAt ? advice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ advice.updatedAt ? advice.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_backoffice_advices_show', {'id': advice.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_advices_edit', {'id': advice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_advices_new') }}">Create new</a>
{% endblock %}
